title{
  border:5px solid black

}
body{
    margin:0 20px;
    background-color:rgb(189, 225, 217);
    font-family:sans-serif;
  }
  h1{
    margin:15px;
    float:center;
    text-align:center;
    color:rgb(1, 1, 59);
    border: 4px solid rgb(99, 162, 235);
    background-color: rgb(226, 243, 239);
  }
  main{
    display:block;
    background-color:white;
  } 
  section{
    float:left;
    width: 100rem;
    border:5px solid rgb(1, 1, 59);
    border-top: 5px solid rgb(1, 1, 59);
    margin:8px;
    background-color:rgb(236,226,198);
    padding:3px;
  }
  h2{
    margin:5px;
    background-color:rgba(99, 163, 235, 0.555);
    text-align:center;
  }
  h3{
    margin:0;
    padding-left:8px;
    background-color:rgba(99, 163, 235, 0.555);
    color:rgb(1, 1, 59);
    font-size:1.5rem;
    float:center;
  }
  p{
    margin:10px;
    text-align: justify;
  }
  footer{
    clear:both;
    float:bottom;
    background-color:rgba(238, 234, 234, 0.836);
    color:rgb(8, 8, 8);
  }
  footer p{
    margin:10px 0;
    font-size:0.75rem;
    clear:both;
    float:bottom;
    background-color:rgba(238, 234, 234, 0.836);
    color:rgb(8, 8, 8);
  }
  nav a{
    float:center;
    color:black;
    text-align:center;
}
nav{
  background-color:rgb(236,226,198);
  border:1px solid rgb(99, 162, 235);
  padding:3px
  }
div{
  border:1px solid black;
    margin:5px;
    padding:10px;
    background-color:rgba(238, 234, 234, 0.836);
  }
table{
  background-color:rgb(236,226,198);
  color:black;
  }